<%- header ? include("./templates/main") : "" %>
<%- include("./templates/header") %>
<% if (header) { %>
	<body>
<% } %>
	<div id="content">
		<div id="main-container">
			<img id="left" src="images/left.png" />
			<span id="letter">
				<div id="slogan">Next level.</div>
				<p>Hey, I'm Josh! I started <%= appName %> as a high school project.</p>
				<p>Games really helped me become engaged in school. That's why I built <%= appName %> — to be the kind of game I'd want to play in class.</p>
				<p>Can't wait for you to give it a try!</p>
				<div id="name"><img id="profile" src="images/profile.png"> - Josh K.</div>
				<a id="sign-up" class="button" href="signup">
					<svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="64 64 896 896" stroke-width="1.5" stroke="white">
						<path stroke-linecap="round" stroke-linejoin="round" d="M678.3 642.4c24.2-13 51.9-20.4 81.4-20.4h.1c3 0 4.4-3.6 2.2-5.6a371.67 371.67 0 00-103.7-65.8c-.4-.2-.8-.3-1.2-.5C719.2 505 759.6 431.7 759.6 349c0-137-110.8-248-247.5-248S264.7 212 264.7 349c0 82.7 40.4 156 102.6 201.1-.4.2-.8.3-1.2.5-44.7 18.9-84.8 46-119.3 80.6a373.42 373.42 0 00-80.4 119.5A373.6 373.6 0 00137 888.8a8 8 0 008 8.2h59.9c4.3 0 7.9-3.5 8-7.8 2-77.2 32.9-149.5 87.6-204.3C357 628.2 432.2 597 512.2 597c56.7 0 111.1 15.7 158 45.1a8.1 8.1 0 008.1.3zM512.2 521c-45.8 0-88.9-17.9-121.4-50.4A171.2 171.2 0 01340.5 349c0-45.9 17.9-89.1 50.3-121.6S466.3 177 512.2 177s88.9 17.9 121.4 50.4A171.2 171.2 0 01683.9 349c0 45.9-17.9 89.1-50.3 121.6C601.1 503.1 558 521 512.2 521zM880 759h-84v-84c0-4.4-3.6-8-8-8h-56c-4.4 0-8 3.6-8 8v84h-84c-4.4 0-8 3.6-8 8v56c0 4.4 3.6 8 8 8h84v84c0 4.4 3.6 8 8 8h56c4.4 0 8-3.6 8-8v-84h84c4.4 0 8-3.6 8-8v-56c0-4.4-3.6-8-8-8z" />
					</svg>
					Sign Up For Free
				</a>
				<div id="nav">
					<a id="join-game" class="link" href="join">
						<i class="far fa-gamepad-alt"></i>
						Join Game
					</a>
					<div class="divider"></div>
					<a id="sign-up" class="link" href="login">
						<svg xmlns="http://www.w3.org/2000/svg" fill="#007dff" viewBox="64 64 896 896" stroke-width="1.5" stroke="#007dff">
							<path stroke-linecap="round" stroke-linejoin="round" d="M521.7 82c-152.5-.4-286.7 78.5-363.4 197.7-3.4 5.3.4 12.3 6.7 12.3h70.3c4.8 0 9.3-2.1 12.3-5.8 7-8.5 14.5-16.7 22.4-24.5 32.6-32.5 70.5-58.1 112.7-75.9 43.6-18.4 90-27.8 137.9-27.8 47.9 0 94.3 9.3 137.9 27.8 42.2 17.8 80.1 43.4 112.7 75.9 32.6 32.5 58.1 70.4 76 112.5C865.7 417.8 875 464.1 875 512c0 47.9-9.4 94.2-27.8 137.8-17.8 42.1-43.4 80-76 112.5s-70.5 58.1-112.7 75.9A352.8 352.8 0 01520.6 866c-47.9 0-94.3-9.4-137.9-27.8A353.84 353.84 0 01270 762.3c-7.9-7.9-15.3-16.1-22.4-24.5-3-3.7-7.6-5.8-12.3-5.8H165c-6.3 0-10.2 7-6.7 12.3C234.9 863.2 368.5 942 520.6 942c236.2 0 428-190.1 430.4-425.6C953.4 277.1 761.3 82.6 521.7 82zM395.02 624v-76h-314c-4.4 0-8-3.6-8-8v-56c0-4.4 3.6-8 8-8h314v-76c0-6.7 7.8-10.5 13-6.3l141.9 112a8 8 0 010 12.6l-141.9 112c-5.2 4.1-13 .4-13-6.3z" />
						</svg>
						Login
					</a>
					<div class="divider h"></div>
					<a id="group-pricing" class="link" href="group/pricing">
						<i class="far fa-users"></i>
						Group Pricing
					</a>
				</div>
			</span>
			<img id="right" src="images/right.png" />
		</div>
		<section>
			<div>
				<h1>Answer</h1>
				<p>
				Students answer questions on their own device at their own pace. Throughout a Kit, each student will get exposure to the questions multiple times to ensure mastery.
				</p>
			</div>
			<img id="img" src="images/answer.png" class="right" />
		</section>
		<section>
			<img id="img" src="images/earn.png" class="left" />
			<div>
				<h1>Earn</h1>
				<p>
				Students earn in-game cash by answering questions correctly. But be careful, an incorrect answer will cost you!
				</p>
			</div>
		</section>
		<section>
			<div>
				<h1>Shop</h1>
				<p>
				Students can reinvest their money by purchasing upgrades & powerups. With millions of combinations, students can make purchases that suit their strengths.
				</p>
			</div>
			<img id="img" src="images/shop.png" class="right" />
		</section>
		<section class="dark">
			<div>
				<h1>Always new ways to play...</h1>
				<p>
				That's just the core of <%= appName %>. With <%= gameModes.length %>+ unique game modes and more in development, there's always a new way to play.
				</p>
			</div>
			<img id="img" src="images/modes.png" />
		</section>
		<section class="big">
			<div>
				<h1>Home works.</h1>
				<p>
				<%= appName %> doesn't just have to be used in class. You can also assign it as homework.
				<br><br>
				Students love it and assignments are graded for you automatically.
				</p>
			</div>
			<img id="img" src="images/assignment.png" class="big" />
		</section>
		<section class="big">
			<img id="img" src="images/kitcollab.png" class="big" />
			<div>
				<h1>KitCollab</h1>
				<p>
				With KitCollab, students create questions for the game!
				<br><br>
				In realtime, students submit questions, you accept them, and then the class plays a game with the questions they wrote!
				</p>
			</div>
		</section>
		<section class="dark big">
			<div>
				<h1>Game on.</h1>
				<p>
				Get your first game going and see your students engaged like never before!
				</p>
				<a id="sign-up" class="button" href="signup">
					<svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="64 64 896 896" stroke-width="1.5" stroke="white">
						<path stroke-linecap="round" stroke-linejoin="round" d="M678.3 642.4c24.2-13 51.9-20.4 81.4-20.4h.1c3 0 4.4-3.6 2.2-5.6a371.67 371.67 0 00-103.7-65.8c-.4-.2-.8-.3-1.2-.5C719.2 505 759.6 431.7 759.6 349c0-137-110.8-248-247.5-248S264.7 212 264.7 349c0 82.7 40.4 156 102.6 201.1-.4.2-.8.3-1.2.5-44.7 18.9-84.8 46-119.3 80.6a373.42 373.42 0 00-80.4 119.5A373.6 373.6 0 00137 888.8a8 8 0 008 8.2h59.9c4.3 0 7.9-3.5 8-7.8 2-77.2 32.9-149.5 87.6-204.3C357 628.2 432.2 597 512.2 597c56.7 0 111.1 15.7 158 45.1a8.1 8.1 0 008.1.3zM512.2 521c-45.8 0-88.9-17.9-121.4-50.4A171.2 171.2 0 01340.5 349c0-45.9 17.9-89.1 50.3-121.6S466.3 177 512.2 177s88.9 17.9 121.4 50.4A171.2 171.2 0 01683.9 349c0 45.9-17.9 89.1-50.3 121.6C601.1 503.1 558 521 512.2 521zM880 759h-84v-84c0-4.4-3.6-8-8-8h-56c-4.4 0-8 3.6-8 8v84h-84c-4.4 0-8 3.6-8 8v56c0 4.4 3.6 8 8 8h84v84c0 4.4 3.6 8 8 8h56c4.4 0 8-3.6 8-8v-84h84c4.4 0 8-3.6 8-8v-56c0-4.4-3.6-8-8-8z" />
					</svg>
					Sign Up For Free
				</a>
			</div>
		</section>
	</div>
<% if (header) { %>
	</body>
<% } %>
<%- include("./templates/footer") %>