<div id="header" class="<%= dark ? 'dark' : '' %>">
	<a id="title" href="/../me">
		<% for (let i = 0; i < appName.split("").length; i++) { %>
			<span><%= appName.split("")[i] %></span>
		<% } %>
	</a>
	<div id="menu">
		<svg xmlns="http://www.w3.org/2000/svg" fill="black" viewBox="64 64 896 896" stroke-width="1.5" stroke="black">
			<path stroke-linecap="round" stroke-linejoin="round" d="M904 160H120c-4.4 0-8 3.6-8 8v64c0 4.4 3.6 8 8 8h784c4.4 0 8-3.6 8-8v-64c0-4.4-3.6-8-8-8zm0 624H120c-4.4 0-8 3.6-8 8v64c0 4.4 3.6 8 8 8h784c4.4 0 8-3.6 8-8v-64c0-4.4-3.6-8-8-8zm0-312H120c-4.4 0-8 3.6-8 8v64c0 4.4 3.6 8 8 8h784c4.4 0 8-3.6 8-8v-64c0-4.4-3.6-8-8-8z" />
		</svg>
	</div>
	<div id="nav" class="lg">
		<a id="creative" class="link" href="/../creative">
			<img src="images/creative.svg" />
			<div>Creative</div>
		</a>
		<div class="divider"></div>
		<a id="rewards" class="link" href="/../rewards">
			<img src="images/rewards.svg" />
			<div>Rewards</div>
		</a>
		<div class="divider"></div>
		<a id="me" class="link" href="/../me">
			<img src="images/smile.svg" />
			<div>Me</div>
		</a>
		<div class="divider"></div>
		<a id="upgrade" class="button" href="/../me">
			<div>Upgrade</div>
		</a>
	</div>
	<% if (navbar) { %>
		<div id="navbar" class="b">
			<a id="kits" class="button rounded <%= url == 'kits' || url == 'me' ? 'selected' : '' %>" href="/../kits">
				<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 640 512">
					<path d="M425.7 256c-16.9 0-32.8-9-41.4-23.4L320 126l-64.2 106.6c-8.7 14.5-24.6 23.5-41.5 23.5-4.5 0-9-.6-13.3-1.9L64 215v178c0 14.7 10 27.5 24.2 31l216.2 54.1c10.2 2.5 20.9 2.5 31 0L551.8 424c14.2-3.6 24.2-16.4 24.2-31V215l-137 39.1c-4.3 1.3-8.8 1.9-13.3 1.9zm212.6-112.2L586.8 41c-3.1-6.2-9.8-9.8-16.7-8.9L320 64l91.7 152.1c3.8 6.3 11.4 9.3 18.5 7.3l197.9-56.5c9.9-2.9 14.7-13.9 10.2-23.1zM53.2 41L1.7 143.8c-4.6 9.2.3 20.2 10.1 23l197.9 56.5c7.1 2 14.7-1 18.5-7.3L320 64 69.8 32.1c-6.9-.8-13.5 2.7-16.6 8.9z"/>
				</svg>
				<div>Kits</div>
			</a>
			<a id="assignments" class="button rounded <%= url == 'assignments' ? 'selected' : '' %>" href="/../assignments">
				<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512">
					<path d="M224 136V0H24C10.7 0 0 10.7 0 24v464c0 13.3 10.7 24 24 24h336c13.3 0 24-10.7 24-24V160H248c-13.2 0-24-10.8-24-24zm64 236c0 6.6-5.4 12-12 12H108c-6.6 0-12-5.4-12-12v-8c0-6.6 5.4-12 12-12h168c6.6 0 12 5.4 12 12v8zm0-64c0 6.6-5.4 12-12 12H108c-6.6 0-12-5.4-12-12v-8c0-6.6 5.4-12 12-12h168c6.6 0 12 5.4 12 12v8zm0-72v8c0 6.6-5.4 12-12 12H108c-6.6 0-12-5.4-12-12v-8c0-6.6 5.4-12 12-12h168c6.6 0 12 5.4 12 12zm96-114.1v6.1H256V0h6.1c6.4 0 12.5 2.5 17 7l97.9 98c4.5 4.5 7 10.6 7 16.9z"/>
				</svg>
				<div>Assignments</div>
			</a>
			<a id="classes" class="button rounded <%= url == 'classes' ? 'selected' : '' %>" href="/../classes">
				<i class="fas fa-users-class"></i>
				<div>Classes</div>
			</a>
			<div id="search">
				<input type="search" placeholder="Search for kits..." />
				<div class="button">
					<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="64 64 896 896" fill="white" stroke="white">
						<path d="M909.6 854.5L649.9 594.8C690.2 542.7 712 479 712 412c0-80.2-31.3-155.4-87.9-212.1-56.6-56.7-132-87.9-212.1-87.9s-155.5 31.3-212.1 87.9C143.2 256.5 112 331.8 112 412c0 80.1 31.3 155.5 87.9 212.1C256.5 680.8 331.8 712 412 712c67 0 130.6-21.8 182.7-62l259.7 259.6a8.2 8.2 0 0011.6 0l43.6-43.5a8.2 8.2 0 000-11.6zM570.4 570.4C528 612.7 471.8 636 412 636s-116-23.3-158.4-65.6C211.3 528 188 471.8 188 412s23.3-116.1 65.6-158.4C296 211.3 352.2 188 412 188s116.1 23.2 158.4 65.6S636 352.2 636 412s-23.3 116.1-65.6 158.4z"/>
					</svg>
				</div>
			</div>
		</div>
	<% } %>
</div>
<div id="nav" class="menu lg">
	<div id="close-menu">x</div>
	<div class="divider horizontal"></div>
	<div id="cont">
		<a id="creative" class="link" href="/../creative">
			<img src="images/creative.svg" />
			<div>Creative</div>
		</a>
		<div class="divider horizontal"></div>
		<a id="rewards" class="link" href="/../rewards">
			<img src="images/rewards.svg" />
			<div>Rewards</div>
		</a>
		<div class="divider horizontal"></div>
		<a id="me" class="link" href="/../me">
			<img src="images/smile.svg" />
			<div>Me</div>
		</a>
		<div class="divider horizontal"></div>
		<a id="upgrade" class="button" href="/../me">
			<div>Upgrade</div>
		</a>
	</div>
</div>
<div class="menu-bg"></div>